

<settings>

	<serverURL>http://127.0.0.1:5001/upnp/control/content_directory</serverURL>
	
	<albums>
		<album access="Unrestricted">
			<title>Album A</title>
			<artist>Dylan Pyle</artist>
			<ID>7</ID>
			<tracks>
				<track title="A Happy Song"></track></tracks></album>
		<album access="Restricted">
			<title>Album B</title>
			<artist>Dylan Pyle</artist>
			<ID>13</ID>
			<tracks>
				<track title="Turing Machine"></track>
				<track title="Supercomputer"></track>
				<track title="Artificial"></track></tracks>
		</album>
	</albums>
	
	<users>
		<user>
			<admin>true</admin>
			<PIN>9999</PIN>
			<username>Admin</username>
			<access>Unrestricted</access>
			<imageFileName>src/main/resources/admin.png</imageFileName>
			<favorites></favorites>
		</user>
		<user>
			<admin>false</admin>
			<favorites><favorite>Album A</favorite></favorites>
			<imageFileName>src/main/resources/child1.png</imageFileName>
			<PIN>1111</PIN>
			<access>Unrestricted</access>
			<username>Child 1</username></user>
		<user>
			<access>Unrestricted</access>
			<admin>false</admin>
			<favorites>
				<favorite>Album A</favorite>
				<favorite>Album B</favorite></favorites>
			<imageFileName>src/main/resources/child2.png</imageFileName>
			<PIN>2222</PIN>
			<username>Child 2</username></user>
		
	</users>
	
</settings>