

<settings>

	<serverURL>http://127.0.0.1:5001/upnp/control/content_directory</serverURL>
	
	<currentUser>
		<admin>true</admin>
		<PIN>7777</PIN>
		<username>defaultUser</username>
		<access>Unrestricted</access>
		<imageFileName></imageFileName>
		<favorites></favorites>
	</currentUser>
	
	<albums>
		<album access="Unrestricted">
			<title>Test</title>
			<artist>Dylan Pyle</artist>
			<ID>7</ID>
		</album>
		<album access="Restricted">
			<title>Restricted Test</title>
			<artist>Dylan Pyle</artist>
			<ID>13</ID>
		</album>
	</albums>
	
	<users>
		<user>
			<admin>true</admin>
			<PIN>9999</PIN>
			<username>Admin</username>
			<access>Unrestricted</access>
			<imageFileName>src/main/resources/admin.png</imageFileName>
			<favorites></favorites>
		</user>
		<user>
			<admin>false</admin>
			<favorites>Album A</favorites>
			<imageFileName>src/main/resources/child1.png</imageFileName>
			<PIN>1111</PIN>
			<access>Unrestricted</access>
			<username>Child 1</username></user>
		<user>
			<access>Unrestricted</access>
			<admin>false</admin>
			<favorites>Album A, Album B</favorites>
			<imageFileName>src/main/resources/child2.png</imageFileName>
			<PIN>2222</PIN>
			<username>Child 2</username></user>
		
	</users>
	
</settings>